<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <!-- Header Section -->
    <div class="header">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#footer">Contact</a>
    </div>

    <!-- Home Section -->
    <section id="home" class="min-height">
      <img class="background" src="/static/images/image222.jpg" alt="" />
      <div class="home-content">
        <h1>Sharad Sisodia</h1>
        <h2>Full Stack Developer</h2>
        <button class="button btn btn-outline-primary"><a href="{% url 'resume' %}">Click for Resume</a></button>
      </div>
      <div class="arrow-container">
        <img src="/static/images/down-arrow.svg" alt="Scroll Down" class="arrow" />
      </div>
    </section>

    <!-- About Section -->
    <section class="padding" id="about">
      <img class="background" src="/static/images/motion-background.jpg" alt="purple and blue abstract background" />
      <div class="about-content">
        <h2 id="aboutsec">About Myself</h2>
        <p class="large">
          I am a motivated and diligent B.Tech student majoring in Computer Science and Engineering (CSE) from Noida Institute of Engineering and Technology.
        </p>
        <hr />
        <ul class="skills-list">
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>Python</li>
          <li>Java</li>
          <li>MySQL</li>
          <li>MongoDB</li>
          <li>Blockchain</li>
        </ul>
        <hr />
        <p class="detail">
          I am passionate about solving problems in new creative ways to drive innovation. I possess a strong foundation in Python, Java, and databases, coupled with a passion for continuous learning and problem-solving.
        </p>
      </div>
    </section>

    <!-- Portfolio Section -->
    <section class="padding" id="portfolio">
      <h2>Portfolio</h2>
      <div class="portfolio-container">
        <div class="image-container">
          <img src="/static/images/design-desk.jpeg" alt="desktop with books and laptop" />
        </div>
        <div class="project-container">
          <div class="project">
            <a href="https://github.com/Sharadsisodia/Face-Recognition-System.git" target="_blank">
              <h3>Face Recognition and Instagram User Identification</h3>
            </a>
            <p class="small">
              A face recognition system that analyzes and compares facial features against a database of known faces to identify individuals.
            </p>
          </div>
          <div class="project">
            <a href="https://github.com/Sharadsisodia/Music-Web-Application.git" target="_blank">
              <h3>Music Web Application</h3>
            </a>
            <p class="small">
              A web application for playing music tracks with synchronized lyrics. Technologies used include HTML, CSS, JavaScript, and Bootstrap for responsive design and UI components.
            </p>
          </div>
          <div class="project">
            <a href="https://sharadsisodia.github.io/Resume-website/" target="_blank">
              <h3>My Resume Site</h3>
            </a>
            <p class="small">
              Created from Microsoft's resume workshop and deployed to GitHub pages. Includes my experience and design abilities.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <div class="footer" id="footer" style="background-color: #4E567E;">
      <div class="social-links">
        <a href="mailto:sharadsisodia222@gmail.com">
          <img src="/static/images/socials/envelope.svg" alt="Email" class="socialIcon" />
        </a>
        
        <a href="https://github.com/sharadsisodia" target="_blank">
          <img src="/static/images/socials/github.svg" alt="GitHub" class="socialIcon" />
        </a>
        <a href="https://www.instagram.com/sh.ar.ad5435" target="_blank">
          <img src="/static/images/socials/instagram.svg" alt="Instagram" class="socialIcon" />
        </a>
        <a href="https://www.linkedin.com/in/sharad-sisodia-4aa496284" target="_blank">
          <img src="/static/images/socials/linkedin.svg" alt="LinkedIn" class="socialIcon" />
        </a>
      </div>
      <p class="small" id="footerlast">Created by Sharad Sisodia</p>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
